.btn-default:focus,
.btn-default.focus {
	color: #000;
	background-color: rgb(175, 175, 175);
}
.btn-default:hover {
	color: #000; 
	background-color: rgb(175, 175, 175);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	color: #000;
	background-color: rgb(0, 175, 255);
}