/* Fuentes */
	@font-face {
		font-family: "fuente";
		font-weight: normal;
		font-style: normal;
		src: url("../fonts/DINPro-Regular.otf") format("opentype");
	}
	@font-face {
		font-family: "tiempo";
		font-weight: normal;
		font-style: normal;
		src: url("../fonts/DINProCond-Medium.ttf") format("truetype");
	}

/* Estilos generales */
	*{
		padding: 0; margin: 0;
		font-family: "fuente", Arial, Serif;
	} 

/* Contenedor */
	.grid-container{
		text-align: center; 
		padding: 10px; 
	}

/* Fondo */
	#fondo{
		background-image: url(../img/background/4.jpg); 
		background-size: cover; 
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%; 
		position: fixed; 
		z-index: -1; 
		padding: 0; margin: 0; 
	}
	html{
		background-color: #000;
		height: 100%; 
	}

/* Barra superior */
	header{background-image: linear-gradient(to bottom, rgb(20, 20, 20) 0%, transparent 100%);}
	#barra-mensaje-alerta{position: fixed; bottom: 0; background-color: rgb(200, 0, 0); color: #FFF; display: none; }
	.brand{
		margin: 10px;
		background-size: cover; 
		background-position: center;
	}
	.brand#NFA{
		background-image: url(../img/brand-NFA.png); 
		width: 225px; 
		height: 75px; 
	}
	.brand#min-transporte{
		background-image: url(../img/brand-FM5HD.png); 
		width: 340px; 
		height: 60px; 
		right: 0;
		float: right;
	}

/* Selector de línea, estación y más */
	.selector{background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 0.3) 85%, transparent 100%); color: #FFF; }
	.selector h1{font-size: 30px;}
	.selector input[type:radio]{margin: 10px; }

/* Cuadros de próximo tren */
	.servicios-finalizados{
		background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 0.3) 85%, transparent 100%);
		color: #FFF; 
		margin: auto 0;
		text-shadow: 0px 0px 10px #000;
	}
	.servicios-finalizados i.material-icons{font-size: 175px; padding-bottom: 0;}
	.servicios-finalizados h1{font-size: 90px;}
	.servicios-finalizados h2{font-size: 42px; margin-top: 15px;}
	.proximo-tren .cuadro-tren, .siguiente-tren .cuadro-tren, .subsiguiente-tren .cuadro-tren{
		background-color: rgba(0, 0, 0, 0.75); 
		border: 1px solid rgba(255, 255, 255, 0.5);
		color: #FFF; 
		margin: 5px; 
	}
	@media (max-width: 767px) {.grid-container#proximo{padding-bottom: 0;}}
	@media (max-width: 767px) {.grid-container#siguientes{padding-top: 0;}}

	.proximo-tren p, .siguiente-tren p, .subsiguiente-tren p{
		margin: 0; padding: 0;
	}

	/*.proximo-tren .cuadro-tren 					{height: 500px;}
	.siguiente-tren .cuadro-tren				{height: 200px;}
	.subsiguiente-tren .cuadro-tren				{height: 200px;}*/

	.proximo-tren p 							{font-size: 55px;}
	.siguiente-tren p							{font-size: 40px;}
	.subsiguiente-tren p						{font-size: 40px;}

	.proximo-tren p.num-tiempo					{font-size: 180px;}
	.siguiente-tren p.num-tiempo				{font-size: 70px;}
	.subsiguiente-tren p.num-tiempo				{font-size: 70px;}
	@media (max-width: 767px) {
		.proximo-tren p 							{font-size: 30px;}
		.siguiente-tren p							{font-size: 30px;}
		.subsiguiente-tren p						{font-size: 30px;}

		.proximo-tren p.num-tiempo					{font-size: 60px;}
		.siguiente-tren p.num-tiempo				{font-size: 60px;}
		.subsiguiente-tren p.num-tiempo				{font-size: 60px;}
	}

/* Muestra los servicios rápidos */
	.cuadro-serv-especiales p{font-size: 34px;}
	@media (max-width: 767px) {.cuadro-serv-especiales p{font-size: 25px;}}
	#cuadro-tipo-servicio{overflow: hidden;}
	#cuadro-estaciones-serv{background-color: rgba(0, 0, 0, 0.5); overflow: hidden;}
	p#estaciones-serv-especial, .js-marquee-wrapper, .js-marquee{text-transform: capitalize;}
	p#estaciones-serv-especial:first-letter, .js-marquee-wrapper:first-letter, .js-marquee:first-letter{text-transform: uppercase !important;}

	.especial{background-color: rgba(200, 150, 0, 0.75);}
	.rapido{background-color: rgba(0, 150, 255, 0.75);}
	.semi-rapido{background-color: rgba(200, 200, 200, 0.75); color: #000;}


/* Footer/Header mobile */
.datos-estacion{
	position: fixed; 
	bottom: 0; 
	background-color: rgba(0, 0, 0, 0.75); 
	color:#FFF;
}
@media (max-width: 767px) {
	.datos-estacion{position: static;}
}