
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:yZuZaz
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE yZuZaz:ERRORPAGEID

# htaccess custom error pages
ErrorDocument 404 /404.html

# SET INDEX OPTIONS
IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=* SuppressHTMLPreamble

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>

IndexOptions FancyIndexing