/* Main font */
	*{font-family: 'Open Sans', sans-serif; color: #FFF;}

/* Body */
	body{background-color: #000;}

/* Button styles */
	.btn.btn-primary{
		background-color: rgba(0, 0, 0, 0.75); 
		border: 1px solid #FFF;
		opacity: 0.75;
		transition: 0.5s; 
		color: #FFF 
	}
	.btn.btn-primary:hover{opacity: 1;}
	.btn.btn-secondary{
		background-color: rgba(0, 0, 0, 0.5); 
		border: 1px solid rgb(175, 175, 175);
		opacity: 0.5;
		transition: 0.5s; 
		color: #FFF 
	}
	.btn.btn-secondary:hover{opacity: 1}

/* Header */
	header{
		position: fixed; 
		width: 100%; 
		height: 80px;
		z-index: 5; 
		background-image: linear-gradient(to bottom, rgb(20, 20, 20) 0%, transparent 100%);
		background-color: transparent;
	}
	header a.brand {
		background-image: url(brand.svg); 
		background-position: center; 
		background-size: contain; 
		background-repeat: no-repeat;
		width: 225px; 
		height: 75px; 
		text-align: left; 
		vertical-align: middle;
		display: inline-block;
	}
	header ul.nav li {
		padding-top: 15px;
		padding-bottom: 15px; 
	}
	header ul.nav li a{color: #FFF; opacity: 0.75; transition: 0.5s;}
	header ul.nav li a:hover{opacity: 1;}

/* Main */
	main{
		position: fixed;
		width: 100%; 
		height: 100%; 
		background-image: url(maintenance.jpg);
		background-position: center; 
		background-attachment: fixed; 
		background-size: cover; 
		background-repeat: no-repeat;
	}
	main .shadow{
		position: fixed;
		width: 100%; 
		height: 100%; 
		padding-top: 110px; 
		background-color: rgba(0, 0, 0, 0.5); 
	}

/* Footer */
footer{
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	z-index: 5; 
	background-color: rgba(0, 0, 0, 0.35); 
	padding-top: 10px; 
}